[submodule "VimOrganizer"]
    path = .vim/bundle/VimOrganizer
    url = https://github.com/hsitz/VimOrganizer.git

[submodule ".vim/bundle/vim-latex"]
    path = .vim/bundle/vim-latex
    url = https://github.com/vim-latex/vim-latex.git

[submodule ".vim/bundle/vim-drake-syntax"]
    path = .vim/bundle/vim-drake-syntax
    url = https://bitbucket.org/larsyencken/vim-drake-syntax.git
[submodule ".config/awesome/apw"]
	path = .config/awesome/apw
	url = https://github.com/mokasin/apw.git
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
